# Backend
BACKEND_PORT=8300

# SMTP (vyplň pro odesílání e-mailů)
SMTP_HOST=smtp.seznam.cz
SMTP_PORT=587
SMTP_USER=uzivatel@seznam.cz
SMTP_PASS=heslo
SMTP_FROM=uzivatel@seznam.cz
SMTP_TO=majitel@firma.cz
